<div class="media">
    <a href="#" class="pull-left">
        <img src="<%= icon %>" data-src="./js/holder.js/64x64" class="media-object img-rounded" style="width: 64px; height: 64px"/>
    </a>

    <div class="media-body">
        <h4 class="media-heading"><a href="<%= link %>"><%= title %></a></h4>
        <div class="media">
            <%= description %>
        </div>
    </div>
</div>
